body {
    background-color: #2096d1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: #fefefe;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 100px auto;
}
h1{
    text-align: center;
}
input[type="email"],
  input[type="sandi"] {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 10px;
  }